{% extends "base.html" %}
{% block title %}information{% endblock %}
{% block headmessage %} <h1>圖表 information</h1> {% endblock %}
{% block content %} 
<a href="/">come bake to index</a><br>
<h1>台灣各地區回收總量</h1>
<canvas id="myChart" width="50%" height="25%"></canvas>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',

    data: {
        labels: [
        {% for type in types %}
         '{{ type.地區}}',
        {% endfor %}
        ],
        datasets: [{
            label:
             '每年各地區回收量',

            data: [
            {% for type in types %}
             '{{ type.總計}}',
            {% endfor %}

            ],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>
<footer>
    <center>
            <div class="btn-group" role="group" aria-label="Basic example">
                {% if types.has_previous %}
                <a href= "?page={{ types.previous_page_number }}" class="btn btn-outline-success "> &nbsp;&nbsp;上一年&nbsp;&nbsp; </a>
                {% endif %}
            {% for tpage_number in types.paginator.page_range %}
            {% ifequal tpage_number types.number %}
                <a class="btn btn-outline-success">{{tpage_number}}</button>
            {% else %}
                <a href= "?page={{ tpage_number }}" class="btn btn-outline-success" >{{ tpage_number }}</a>
            {% endifequal %}
            {% endfor %}
            </label>
                {% if types.has_next %}
                <a href= "?page={{ types.next_page_number }}" class="btn btn-outline-success" >&nbsp;&nbsp; 下一年&nbsp;&nbsp; </a>
                
                {% endif %}
                </div></a></div>
    </center>
</footer>

{% endblock %}

